

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("Banff.jpg");

  /* Half height */
  padding-top:20%;

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;


}

.Wojtekheading {

  font-family: "Times New Roman", Times, serif;
  color: white;
  /* text-decoration: underline;
  */
  text-align: center;
  padding-bottom:20%;
  padding-right: 40%;


}

.lh{
line-height: 0.9;

}
.imgsrc{
  padding-bottom:5%;
  padding-left:50%;


}

.nav-item{
color: blue;
background-color: white;
border-radius: 10%;


}


.pt2{
background-color: white;
text-align: center;
font-family: serif;
 font: Times;

}


.pt3{
  background-color: rgb(200, 222, 249) ;

  text-align: center;
  font-family: serif;
   font: Times;

}

.sectionheadings{
  font-family:serif;
  font: Times:
  text-align: center;

}

.sectionsubheadings{
  font-family:serif;
  font: Times:
  text-align: center;
  font-size: 0.75;


}


.paragraphstyling{
padding left:0.1;
padding-right: 0.1;
 text-align: center;

}
